.section {
  width: 620px;
  height: 150px;
}

.image {
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
  width: 40%;
}

.text {
  width: 60%;
}

.Rimage {
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  width: 40%;
}

.bg-venues {
  background: #caa99ba4;
}

.bg-decoration {
  background: #aeb3d89e;
}

.bg-cook {
  background: #d0c8a994;
}

.bg-catering {
  background: #bce4f19c;
}