.image {
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
  width: 40%;
}

.text {
  width: 60%;
}

.Rimage {
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
  width: 40%;
}

.bg-venues {
  background: #976467;
}

.bg-decoration {
  background: #4E5787;
}

.bg-cook {
  background: #6B603A;
}

.bg-catering {
  background: #657073;
}


.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-left-image {
  width: 40%;
  height: 100%;
  border-top-left-radius: 45%;
  border-bottom-left-radius: 45%;
}

.card-right-image {
  width: 40%;
  height: 100%;
  border-top-right-radius: 45%;
  border-bottom-right-radius: 45%;
}