.Box {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.Review {
  border-radius: 100%;
}

.react-calendar {
  width: 100%;
  color: #222;
  box-shadow: 0 0px 10px rgba(10, 10, 10, 0.2);
  border: none;
  padding-bottom: 10px;
}


.react-calendar__navigation button {
  color: #efefef;
  background: #1ead9d;
  font-size: 23px;
  font-weight: bold;
}


.react-calendar__navigation button:hover {
  transition: all .3s ease-in-out;
  background-color: #1ead9d !important;
  color: black;
}

abbr[title] {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}


.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background: #f8faf8;
  color: #1ead9d;
  border-radius: 6px;

}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1ead9d;
  color: white;
}


.react-calendar__tile--rangeEnd {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: #14b8a6;
  color: white;
}