.inputs {
  font-size: 15px;
  outline: none;
  height: 30px;
  border: 1px solid white;
  box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  width: 200px;
}

input::placeholder {
  text-align: center;
}

.listViewtextDiv {
  height: 60px;
  overflow: hidden;
}

.listCard {
  height: 215px;
  margin-bottom: 25px;
  /* border: 1px solid rgb(175, 175, 175); */
  box-shadow: 0px 0px 3px 0px rgb(198, 198, 198);
}

.gridCard {
  box-shadow: 0px 0px 3px rgb(198, 198, 198);
}

.iconDiv {
  background: #fff;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border: 1px solid white;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgb(219, 219, 219);
  color: #05C7AA;
  transition: all .4s ease-in-out;
}

.iconDiv:hover {
  background: #05C7AA;
  color: white;
}

.listIcon {
  height: 35px;
  width: 35px;
  margin-right: 8px;
}


.gridIcon {
  height: 30px;
  width: 23px;
  margin-right: 8px;
}

.border-gray {
  box-shadow: 0px 0px 4px 0px rgb(220, 220, 220);
}

.cards:hover {
  box-shadow: 0px 0px 8px 0px rgb(112, 112, 112);
}