@tailwind base;
@tailwind components;

.bg-primary {
  @apply bg-teal-500;
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');



* {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}



:root {
  --bg-color: #F4FAFF;
  --text-secondary: #707070;
  --color-pink: #db2777;
  --text-whitesh: #F8FCFF;
}


/* .text-menu-home {
  color: var(--text-secondary);
} */

html {
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

.text-secular {
  font-family: "Secular One", sans-serif;
}

.text-ubunto {
  font-family: 'Ubuntu', sans-serif;
}

.text-testimonial {
  font-family: 'Asap Condensed', sans-serif;
}

.text-dancing {
  font-family: 'Dancing Script', cursive;
}

.text-menu {
  color: var(--text-whitesh);
}


.nav {
  transition: all 0.3s ease-in-out;
  top: 0;
  z-index: 99;
}

.navHomeBg {
  background: var(--bg-color);
}


.banner-register {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -55%);
}


input#openSidebarMenu {
  display: none;
}

.sidebarIconToggle {
  cursor: pointer;
  margin-right: 10px;
}

.menu-responsive {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  transition: all 2s ease-in-out;
  animation: slideMenu 0.5s linear;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgb(200, 81, 81);
  z-index: 8;
}

.d-none {
  display: none;
}

.spinner {
  height: 3px;
  width: 23px;
  background: var(--color-pink);
  transition: all 0.7s;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.middle {
  opacity: 0;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.top {
  transform: rotate(140deg) translate(-15%, 100%);
  margin-top: 9px;
}

#openSidebarMenu:checked~.sidebarIconToggle>.spinner.bottom {
  transform: rotate(-140deg) translate(11%, 150%);
  margin-top: -8px;
}

.spinner.middle,
.spinner.bottom {
  margin-top: 3px;
}

.animateMenu {
  animation: animatemenu 0.8s linear;
}

@keyframes animatemenu {
  0% {
    top: -10%;
    opacity: 0;
  }

  50% {
    top: -5%;
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

/* 

.height-10 {
    height: 10vh;
}

.height-100 {
    min-height: 100vh;
}

.order-table {
    width: 100%;
    min-width: 700px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*/

/*


.form {
    box-shadow: 0px 0px 5px 0px #dbdbdb;
}

.card {
    margin-top: 60px;
    width: 250px;
    height: 270px;
    position: relative;
    background: #F2E3DB;
    box-shadow: 0px 0px 5px 0px #bbbbbb;
    transition: all .5s ease-in-out;
}

.card:hover {
    background: #cfaf9a;
}

.card:first-child {
    margin-right: 70px;
}

.card:last-child {
    margin-left: 70px;
}

.card img {
    width: 100%;
    height: 100%;
}

.card p {
    position: absolute;
    padding: 1px 15px;
    font-size: 18px;
    background: rgb(255, 255, 255);
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.product {
    position: relative;
    box-shadow: 0px 0px 5px 0px rgb(225, 224, 224);
    transition: all .3s ease-in-out;
}

.product:hover {
    box-shadow: 0px 0px 12px 0px rgb(197, 196, 196);
}

.empty-cart {
    height: 500px;
}

footer {
    background: rgb(144, 150, 53);
    background-color: rgb(21 57 78);
}

@keyframes slideMenu {
    0% {
        left: -20%;
    }

    100% {
        left: 50%;
    }
}



@media screen and (max-width:767px) {

    #about,
    #contact {
        height: max-content;
    }
}

@media screen and (max-width:672px) {
    .card {
        width: 210px;
        height: 230px;
    }

    .card:first-child {
        margin-right: 15px;
    }

    .card:last-child {
        margin-left: 15px;
    }
}

@media screen and (max-width:460px) {
    .card {
        width: 180px;
        height: 200px;
    }
}

@media screen and (max-width:410px) {
    .card {
        width: 270px;
        height: 200px;
    }

    .card:first-child {
        margin-right: 0px;
    }

    .card:last-child {
        margin-left: 0px;
    }
}

*/